/*
  Yandex theme for Shower HTML presentation engine: github.com/pepelsbey/shower
*/

@import url("../../bright/styles/screen.css");
@import url("fonts.css");

body {
  font:25px/2 Textbook, Arial;
  font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}

.right {
  float: right;
}

/* Slide
------------------------------- */
.slide {
  color:#000;
  background: #FFF;
}

.slide:after {
  content: '';
}

.slide#splash h2 span,
.slide#cover > div::before,
.slide#thanks > div::before,
.slide#cover > div::after,
.slide#thanks > div::after
{
  font-family: 'YandexRu';
  font-weight: normal;
}

.slide#cover > div::before,
.slide#thanks > div::before
{
  content: 'Я';

  color: #F00;
}
.slide#cover > div::after,
.slide#thanks > div::after
{
  margin-left: .45em;

  content: 'ндекс';
}

.slide#cover .author,
.slide#thanks .author
{
  font-size: 20px;
  line-height: 30px;
}

.slide#splash h2::first-letter
{
  color: red;
}

.slide#cover > div::before,
.slide#thanks > div::before,
.slide#cover > div::after,
.slide#thanks > div::after
{
  position: absolute;
  top: 40px;
  left: 60px;

  font-size: 39px;
  line-height: 100%;
}

.slide#cover > div::before,
.slide#thanks > div::before,
.slide#cover > div::after,
.slide#thanks > div::after
{
  display: block;
}

.slide#cover .service,
.slide.section h2 {
  position: absolute;
  z-index: 100;
  top: 40px;
  left: 60px;
}

.slide#cover .service {
  left: 150px;

  height: 36px;
  padding: 0 .75em;

  border: 2px solid #FFDB4C;
  border-right: none;

  font-size: 18px;
}

.slide.section h2 {
  font-size: 30px;
}

.slide#cover .service:before {
  position: absolute;
  top: 6px;
  right: -11px;

  width: 18px;
  height: 20.784609690826528px;

  content: '';
  -webkit-transform: rotate(30deg)skewY(30deg);
  -moz-transform: rotate(30deg)skewY(30deg);
  -ms-transform: rotate(30deg)skewY(30deg);
  transform: rotate(30deg)skewY(30deg);

  border: 2px solid #FFDB4C;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.slide#cover .nda {
  position: absolute;
  top: 30px;
  right: 60px;

  width: 60px;
  height: 50px;

  background: url("../images/nda.svg") no-repeat;
}

.slide#thanks h2,
.slide#cover h2,
.slide.section h3,
.slide.with-big-quote blockquote {
  position:absolute;
  top: 50%;
  left: 60px;

  width: 100%;

  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform:translateY(-50%);

  color: #000;

  font-size: 70px;
}

.slide.with-big-quote blockquote {
  line-height: 1;
}

.slide.with-big-quote blockquote p {
  margin: 0;
}

.slide#thanks .info,
.slide#cover .info
{
  position: absolute;
  bottom: 40px;
  left: 60px;

  width: 450px;

  font-size: 75%;
}

.slide#thanks .info p,
.slide#cover .info p
{
  margin: 0;
}

.slide#splash {
  background: #FFF;
}
.slide#splash h2
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  text-align: center;
}

.slide#splash h2:after
{
  display: inline-block;

  height: 100%;

  content: '';
  vertical-align: middle;
}

.slide#splash h2 > span
{
  vertical-align: middle;

  font-size: 160px;
  line-height: 100%;
}

.slide > div {
  width: 924px;
  height: 592px;
  padding-top: 40px;
  padding-right: 50px;
  padding-left: 50px;
}

/* Section */
.slide.section {
  background: rgb(254,195,0);
}

/* introductory */
.slide.introductory > div {
  padding-top: 20px;
  padding-left: 40px;
}

.slide.introductory h2 {
  font-weight: normal;
}

.slide.introductory h3 {
  float: left;
  margin-top: 100px;

  line-height: 1;
}

.slide.introductory h3 {
  font-size: 30px;
}

.down-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;

  height: 27px;
  width: 80px;

  background: url("../images/down-arrow.svg") no-repeat;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* Header */
.slide h2 {
  margin: 0;

  font: lighter 40px Textbook, Arial;
}

.slide h3, .slide h4 {
  font-size: 30px;
}

/* Text */
.slide p {
  margin:0 0 30px;
}
.slide p.note {
  position: absolute;
  bottom: 60px;
}
.slide a {
  text-decoration:none;

  color:#0174A7;
  border-bottom:0.1em solid;
}

/* Quote */
.slide blockquote {
  margin-bottom: 20px;
  padding-left: 10px;

  border-left: 5px solid rgb(254,195,0);

  font-size: 30px;
  font-style: normal;
}

.slide blockquote:before {
  content:'';

  font-style: inherit;
}

/* Lists */
.slide ol,
.slide ul {
  margin:0 0 30px 15px;

  counter-reset:list;
}
.slide ol li,
.slide ul li {
  margin-top: 20px;

  text-indent:-13px;

  font-weight: lighter;
}
.slide ol > li:before,
.slide ul > li:before {
  display:inline-block;

  width:13px;

  color:black;
}

.slide > div > ul,
.slide > div > ol {
  float: left;
  clear: left;
}

.slide > div > ul > li:lang(ru):before {
  content: '\0';

  border-left: 5px solid rgb(254,195,0);

  line-height: 25px;
}

.slide ul ul>li:lang(ru):before {
  content:'〉 ';

  font-weight: normal;
}

.slide > div > ul > li {
  font-weight: normal;
  line-height: 1;
}

  .slide ol > li:before {
    content:counter(list)'.\00A0';
    counter-increment:list;
  }

  .slide ol ol > li:before,
  .slide ol ul > li:before,
  .slide ul ul > li:before,
  .slide ul ol > li:before
  {
    color:#000;
}

/* Double */
.slide ol.double,
.slide ul.double {
  margin-left:-25px;

  -webkit-columns:2;
  -moz-columns:2;
  columns:2;
  -webkit-column-gap:0;
  -moz-column-gap:0;
  column-gap:0;
}
  .slide ol.double li,
  .slide ul.double li {
    padding:0 30px 0 1em;
  }

.shout iframe,
.cover iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: hidden;

  width: 100%;
  height: 100%;
}

.slide.shout {
  background: #FFF;
}
.slide.shout h2 {
  left: 60px;

  color: #000;

  line-height: 100px;
}

.full .progress div {
  background: #FFD700;
}

.list .slide:target:before {
  box-shadow: 0 0 10px 0 #FFD700,0 0 0 12px #FFD700;
}

.caption a {
  display: inline-block;

  color: #000;

  line-height: 1.1;
}
.list .slide:target:after {
  color: #000;
}
